body,
html,
main,
#__aleph,
.page,
div {
  width: 99.6%;
  height: max-content;
  margin: 0.1%;
  padding: 0.1%;
  background-color: #ddd;
}

div {
  border: solid;
  border-width: 1px;
  border-color: #00000088;
  width: max-content;
}

.frame {
  width: 100%;
}

.item {
  margin: auto;
  margin-bottom: 1%;
  margin-top: 1%;
}

input,
textarea {
  width: 70%;
  margin: auto;

  display: block;
}

button {
  width: 100px;
  display: block;
  margin: 1%;
  margin-right: 10%;
  margin-left: auto;
}
